.vs/
*.sln
*.suo
*.user
*.userprefs
*.ide

[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/
[Bb]in/
[Oo]bj/

*.nupkg
*.nuspec
packages/
*.cache
project.lock.json
project.fragment.lock.json

.vscode/
*.code-workspace

*.log
*.pdb
*.mdb
*.ilk
*.idb
*.o
*.exe
*.dll
*.app

*.csproj.user
*.sln.docstates

TestResults/
